<h1>New job</h1>

<%= error_messages_for :job %>
<%= error_messages_for :google_code_issue %>

<%= render :partial => "form", :locals => { :job => @job, :update => false }  %>

<%= link_to 'Back', jobs_path %>
