<h2>Fee structure</h2>
<p>Congratulations on finding your first job on the Jobtorrent!</p>

<p>In order to support development of the site, 5% of the rewards go towards Jobtorrent. In order to keep the financial and administrative burden on everyone as low as possible, you will initially receive the full 100% of the reward and once a month you will receive an invoice for the 5%.</p>

<p>The site will not bother for less than US $1, so if you plan to earn less than $20, you will not receive an invoice.</p>

<p>You will only receive an invoice if you have succesfully completed a job and confirmed that you received the award for it.<p>

<p>Invoices are sent once a month and only when you have earned at least $20 during that month. They need to be paid within a month. Payments can be send through Paypal or - if you contact me - other means.</p> 

<p>Please confirm that you have read and understand this and that you agree to these conditions.</p>

Please <%= link_to 'Agree', :action => 'agree_to_fee_structure', :job_id => @job_id %> or <%= link_to 'Disagree', root_path %>
