<p>
  <b>Url:</b>
  <%=h @google_code_issue.url %>
</p>

<p>
  <b>Status:</b>
  <%=h @google_code_issue.status %>
</p>


<%= link_to 'Edit', edit_google_code_issue_path(@google_code_issue) %> |
<%= link_to 'Back', google_code_issues_path %>
